[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# VSCode
.vscode/

# Mac
.DS_Store

# Others
__pycache__/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.pdb.meta
*.mdb
*.opendb
*.VC.db
*venv

# big files
Assets/Real Stars Skybox/
